
.content {
    display: flex;
}

.sidebar button {
    display: block;
    padding: 10px 10px;
}

#expressions {
    max-height: 92vh;
    width: fit-content;
    overflow: scroll;
}

#expressions input {
    width: 380px;
    font-size: 15px;
    padding: 10px 10px;
}

.bad-input, .bad-input:focus {
    border-color: red;
    outline: none;
}

#graph {
    border: 1px solid #bfbfbf;
}
