
::root {
    color-scheme: light dark;
}

html, body {
    margin: 0;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

button {
    display: block;
    cursor: pointer;
    color: light-dark(#000000, #ffffff);
}

button img {
    width: 100%;
    height: 100%;;
}

.graph-controls {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
    gap: 5px;
}

.graph-controls button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: light-dark(#cccccc, #31363F);
}

.sidebar  {
    width: 25%;
    height: 100%;
    border-right: 1px solid light-dark(#bfbfbf, #31363F);
    background-color: light-dark(#ffffff, #222831);
}

.sidebar .controls {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .controls button {
    width: 30px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
}

#expressions {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.expression {
    width: 99%;
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid light-dark(#777877, #4e5664);
}

.expression:has(input:focus) {
    border: 1px solid #76ABAE;
}

.expression .selector-background {
    height: 100%;
    width: fit-content;
    align-content: center;
    padding: 0px 8px 0px 8px;
    background: light-dark(#d6d6d6, #31363F);
}

.expression .selector {
    margin: 0;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 3px solid light-dark(#ffffff, #aaaaaa);
}

.expression .selector:checked {
    border: none;
    background-color: red;
}

.expression input[type=text] {
    font-size: 15px;
    padding: 0px 10px;
    height: 100%;
    border: none;
    flex-grow: 1;
    min-width: 0;
    color: light-dark(#000000, #eeeeee);
    background-color: light-dark(#ffffff, #222831);
}

.expression input[type=text]:focus {
    border: none;
    outline: none;
}

.expression .close {
    padding: 0px 5px 0px 5px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.expression .close img { /* make the svg icon gray */
    filter: invert(91%) sepia(0%) saturate(7027%) hue-rotate(165deg) brightness(56%) contrast(48%);
}

/*TODO: make this for the entire expression div*/
.bad-input, .bad-input:focus {
    border-color: red;
    outline: none;
}
